.tableshadow{ position:"relative";top:"50px";left:"50px"; padding-top:40px; border:solid 1px #60b2e7}
.lefttxt{ padding-left:30px;  font-size:16px; color:#60b2e7}
.toptd{ color:white; font-size:24px; text-align:center; height:40px; background-color:#60b2e7}
html { 
    background: url(images/sea.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1.top_heading{
   color:dodgerblue;
   margin-left: 50px;
   font-size: 55px;
   margin-top:50px;
   
   
  
 }
 div.main_home_div{
   margin: 50px;
 }
 .button {
  background-color: #0066ff; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: relative;
  float:right;
  right:25%;  
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
ul {
  list-style-type: none;
  margin: 0;
  padding-right:100px;
  padding-left:500px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background: url(images/sea.jpg) no-repeat center center fixed; 
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

input[type=text],input[type=password],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.form_input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}